accelerators/Video-RAG/deploy/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Deploys the Video RAG Accelerator infrastructure: Storage Account, Azure AI Services (Content Understanding), Azure OpenAI, Azure AI Search, Logic App with Event Grid trigger, managed identities, and RBAC role assignments.",
    "_generator": {
      "name": "Video RAG Accelerator ARM Template"
    }
  },
  "parameters": {
    "location": {
      "type": "string",
      "allowedValues": [
        "eastus",
        "eastus2",
        "westus",
        "westus2",
        "westus3",
        "northcentralus",
        "southcentralus",
        "westeurope",
        "northeurope",
        "swedencentral",
        "uksouth",
        "southeastasia",
        "australiaeast",
        "japaneast"
      ],
      "metadata": {
        "description": "Azure region for all resources. Must support Azure Content Understanding. See https://learn.microsoft.com/en-us/azure/ai-services/content-understanding/language-region-support#region-support"
      }
    },
    "resourcePrefix": {
      "type": "string",
      "defaultValue": "videorag",
      "minLength": 3,
      "maxLength": 10,
      "metadata": {
        "description": "Prefix for all resource names. Lowercase letters and numbers only."
      }
    },
    "searchServiceSku": {
      "type": "string",
      "defaultValue": "basic",
      "allowedValues": [
        "basic",
        "standard",
        "standard2",
        "standard3"
      ],
      "metadata": {
        "description": "Pricing tier for Azure AI Search."
      }
    }
  },
  "variables": {
    "uniqueSuffix": "[uniqueString(resourceGroup().id)]",
    "storageAccountName": "[take(concat(toLower(parameters('resourcePrefix')), variables('uniqueSuffix')), 24)]",
    "aiServicesName": "[concat(parameters('resourcePrefix'), '-aiservices-', take(variables('uniqueSuffix'), 6))]",
    "openAiName": "[concat(parameters('resourcePrefix'), '-openai-', take(variables('uniqueSuffix'), 6))]",
    "searchServiceName": "[concat(parameters('resourcePrefix'), '-search-', take(variables('uniqueSuffix'), 6))]",
    "logicAppName": "[concat(parameters('resourcePrefix'), '-automation')]",
    "eventGridConnectionName": "azureeventgrid-1",
    "containerName": "uploadedvideocontent",
    "searchIndexName": "video-training-index",
    "embeddingDeploymentName": "text-embedding-3-large",
    "embeddingModelVersion": "1",
    "storageBlobDataReaderRoleId": "2a2b9908-6ea1-4ae2-8e65-a410df84e7d1",
    "eventGridContributorRoleId": "428e0ff0-5e57-4d9c-a221-2c70d0e0a443",
    "cognitiveServicesUserRoleId": "a97b65f3-24c7-4388-baec-2e87135dc908",
    "cognitiveServicesOpenAIUserRoleId": "5e0bd9bd-7b93-4f28-af87-19fc36ad61bd"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-05-01",
      "name": "[variables('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "properties": {
        "supportsHttpsTrafficOnly": true,
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2023-05-01",
      "name": "[concat(variables('storageAccountName'), '/default/', variables('containerName'))]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]"
      ]
    },
    {
      "type": "Microsoft.CognitiveServices/accounts",
      "apiVersion": "2024-10-01",
      "name": "[variables('aiServicesName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "S0"
      },
      "kind": "AIServices",
      "properties": {
        "publicNetworkAccess": "Enabled",
        "customSubDomainName": "[variables('aiServicesName')]"
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts/deployments",
      "apiVersion": "2024-10-01",
      "name": "[concat(variables('aiServicesName'), '/gpt-4.1')]",
      "dependsOn": [
        "[resourceId('Microsoft.CognitiveServices/accounts', variables('aiServicesName'))]"
      ],
      "sku": {
        "name": "Standard",
        "capacity": 1
      },
      "properties": {
        "model": {
          "format": "OpenAI",
          "name": "gpt-4.1",
          "version": "2025-04-14"
        }
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts/deployments",
      "apiVersion": "2024-10-01",
      "name": "[concat(variables('aiServicesName'), '/gpt-4.1-mini')]",
      "dependsOn": [
        "[resourceId('Microsoft.CognitiveServices/accounts', variables('aiServicesName'))]",
        "[resourceId('Microsoft.CognitiveServices/accounts/deployments', variables('aiServicesName'), 'gpt-4.1')]"
      ],
      "sku": {
        "name": "Standard",
        "capacity": 1
      },
      "properties": {
        "model": {
          "format": "OpenAI",
          "name": "gpt-4.1-mini",
          "version": "2025-04-14"
        }
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts/deployments",
      "apiVersion": "2024-10-01",
      "name": "[concat(variables('aiServicesName'), '/', variables('embeddingDeploymentName'))]",
      "dependsOn": [
        "[resourceId('Microsoft.CognitiveServices/accounts', variables('aiServicesName'))]",
        "[resourceId('Microsoft.CognitiveServices/accounts/deployments', variables('aiServicesName'), 'gpt-4.1-mini')]"
      ],
      "sku": {
        "name": "Standard",
        "capacity": 1
      },
      "properties": {
        "model": {
          "format": "OpenAI",
          "name": "text-embedding-3-large",
          "version": "[variables('embeddingModelVersion')]"
        }
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts",
      "apiVersion": "2024-10-01",
      "name": "[variables('openAiName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "S0"
      },
      "kind": "OpenAI",
      "properties": {
        "publicNetworkAccess": "Enabled",
        "customSubDomainName": "[variables('openAiName')]"
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts/deployments",
      "apiVersion": "2024-10-01",
      "name": "[concat(variables('openAiName'), '/', variables('embeddingDeploymentName'))]",
      "dependsOn": [
        "[resourceId('Microsoft.CognitiveServices/accounts', variables('openAiName'))]"
      ],
      "sku": {
        "name": "Standard",
        "capacity": 1
      },
      "properties": {
        "model": {
          "format": "OpenAI",
          "name": "text-embedding-3-large",
          "version": "[variables('embeddingModelVersion')]"
        }
      }
    },
    {
      "type": "Microsoft.Search/searchServices",
      "apiVersion": "2024-03-01-preview",
      "name": "[variables('searchServiceName')]",
      "location": "[parameters('location')]",
      "sku": {
        "name": "[parameters('searchServiceSku')]"
      },
      "properties": {
        "replicaCount": 1,
        "partitionCount": 1,
        "hostingMode": "default"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('eventGridConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "Event Grid (Managed Identity)",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureeventgrid')]"
        },
        "parameterValueType": "Alternative"
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts/blobServices/containers', variables('storageAccountName'), 'default', variables('containerName'))]",
        "[resourceId('Microsoft.CognitiveServices/accounts/deployments', variables('aiServicesName'), variables('embeddingDeploymentName'))]",
        "[resourceId('Microsoft.CognitiveServices/accounts/deployments', variables('openAiName'), variables('embeddingDeploymentName'))]",
        "[resourceId('Microsoft.Search/searchServices', variables('searchServiceName'))]",
        "[resourceId('Microsoft.Web/connections', variables('eventGridConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "When_a_resource_event_occurs": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azureeventgrid-1']['connectionId']"
                  }
                },
                "body": {
                  "properties": {
                    "topic": "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
                    "destination": {
                      "endpointType": "webhook",
                      "properties": {
                        "endpointUrl": "@listCallbackUrl()"
                      }
                    },
                    "filter": {
                      "includedEventTypes": [
                        "Microsoft.Storage.BlobCreated"
                      ],
                      "subjectBeginsWith": "/blobServices/default/containers/uploadedvideocontent"
                    }
                  }
                },
                "path": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Storage.StorageAccounts/resource/eventSubscriptions')]",
                "queries": {
                  "x-ms-api-version": "2017-09-15-preview"
                }
              },
              "description": "Triggers when a new blob is created in the uploadedvideocontent container.",
              "runtimeConfiguration": {
                "concurrency": {
                  "runs": 50
                }
              }
            }
          },
          "actions": {
            "Parse_trigger_body": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@first(triggerBody())",
                "schema": {
                  "type": "object",
                  "properties": {
                    "topic": { "type": "string" },
                    "subject": { "type": "string" },
                    "eventType": { "type": "string" },
                    "id": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "api": { "type": "string" },
                        "clientRequestId": { "type": "string" },
                        "requestId": { "type": "string" },
                        "eTag": { "type": "string" },
                        "contentType": { "type": "string" },
                        "contentLength": { "type": "integer" },
                        "blobType": { "type": "string" },
                        "accessTier": { "type": "string" },
                        "url": { "type": "string" },
                        "sequencer": { "type": "string" },
                        "storageDiagnostics": {
                          "type": "object",
                          "properties": {
                            "batchId": { "type": "string" }
                          }
                        }
                      }
                    },
                    "dataVersion": { "type": "string" },
                    "metadataVersion": { "type": "string" },
                    "eventTime": { "type": "string" }
                  }
                }
              },
              "description": "Parse the Event Grid trigger payload to extract blob information."
            },
            "varBlobUrl": {
              "runAfter": {
                "Parse_trigger_body": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vBlobUrl",
                    "type": "string",
                    "value": "@{body('Parse_trigger_body')?['data']?['url']}"
                  }
                ]
              },
              "description": "Store the full blob URL from the event data."
            },
            "varBlobName": {
              "runAfter": {
                "varBlobUrl": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vBlobName",
                    "type": "string",
                    "value": "@{last(split(body('Parse_trigger_body')?['data']?['url'],'/'))}"
                  }
                ]
              },
              "description": "Extract the blob filename from the URL."
            },
            "varContainer": {
              "runAfter": {
                "varBlobName": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vContainer",
                    "type": "string",
                    "value": "@{split(body('Parse_trigger_body')?['data']?['url'],'/')[3]}"
                  }
                ]
              },
              "description": "Extract the container name from the URL."
            },
            "varDocumentId": {
              "runAfter": {
                "varContainer": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vDocumentId",
                    "type": "string",
                    "value": "@{base64(variables('vBlobUrl'))}"
                  }
                ]
              },
              "description": "Create a deterministic document ID from the blob URL using Base64 encoding."
            },
            "Set_defaults": {
              "runAfter": {
                "varDocumentId": [ "Succeeded" ]
              },
              "type": "Http",
              "inputs": {
                "uri": "[concat('https://', variables('aiServicesName'), '.services.ai.azure.com/contentunderstanding/defaults?api-version=2025-11-01')]",
                "method": "PATCH",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "modelDeployments": {
                    "gpt-4.1": "gpt-4.1",
                    "gpt-4.1-mini": "gpt-4.1-mini",
                    "text-embedding-3-large": "text-embedding-3-large"
                  },
                  "storage": {
                    "type": "AzureBlob",
                    "containerUri": "[concat('https://', variables('storageAccountName'), '.blob.core.windows.net/', variables('containerName'))]"
                  }
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://cognitiveservices.azure.com"
                }
              },
              "description": "Configure Content Understanding defaults including model deployments and storage location.",
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Call_Content_Understanding": {
              "runAfter": {
                "Set_defaults": [ "Succeeded" ]
              },
              "type": "Http",
              "inputs": {
                "uri": "[concat('https://', variables('aiServicesName'), '.cognitiveservices.azure.com/contentunderstanding/analyzers/prebuilt-videoSearch:analyze?api-version=2025-11-01')]",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "inputs": [
                    {
                      "url": "@{variables('vBlobUrl')}"
                    }
                  ]
                },
                "authentication": {
                  "type": "ManagedServiceIdentity",
                  "audience": "https://cognitiveservices.azure.com"
                }
              },
              "description": "Start async video analysis using Content Understanding prebuilt-videoSearch analyzer.",
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_CU_Body": {
              "runAfter": {
                "Call_Content_Understanding": [ "Succeeded" ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Call_Content_Understanding')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "analyzerId": { "type": "string" },
                        "apiVersion": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "warnings": { "type": "array" },
                        "contents": { "type": "array" }
                      }
                    }
                  }
                }
              },
              "description": "Parse the initial Content Understanding response."
            },
            "varOperationLocation": {
              "runAfter": {
                "Parse_CU_Body": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vOperationLocation",
                    "type": "string",
                    "value": "@{outputs('Call_Content_Understanding')?['headers']?['Operation-Location']}"
                  }
                ]
              },
              "description": "Store the Operation-Location header URL for polling."
            },
            "varAnalyzerStatus": {
              "runAfter": {
                "varOperationLocation": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vAnalyzerStatus",
                    "type": "string",
                    "value": "notStarted"
                  }
                ]
              },
              "description": "Initialize status tracking variable."
            },
            "Until_succeeded": {
              "actions": {
                "Delay_15_seconds": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 15,
                      "unit": "Second"
                    }
                  },
                  "description": "Wait 15 seconds between status checks."
                },
                "Check_Status": {
                  "runAfter": {
                    "Delay_15_seconds": [ "Succeeded" ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@variables('vOperationLocation')",
                    "method": "GET",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://cognitiveservices.azure.com"
                    }
                  },
                  "description": "Poll the operation location URL to check analysis status.",
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Parse_JSON": {
                  "runAfter": {
                    "Check_Status": [ "Succeeded" ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Check_Status')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "status": { "type": "string" },
                        "result": {
                          "type": "object",
                          "properties": {
                            "analyzerId": { "type": "string" },
                            "apiVersion": { "type": "string" },
                            "createdAt": { "type": "string" },
                            "warnings": { "type": "array" },
                            "contents": { "type": "array" }
                          }
                        }
                      }
                    }
                  },
                  "description": "Parse the status check response."
                },
                "Set_variable": {
                  "runAfter": {
                    "Parse_JSON": [ "Succeeded" ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "vAnalyzerStatus",
                    "value": "@body('Parse_JSON')?['status']"
                  },
                  "description": "Update the status variable."
                }
              },
              "runAfter": {
                "varAnalyzerStatus": [ "Succeeded" ]
              },
              "expression": "@or(equals(variables('vAnalyzerStatus'), 'succeeded'), equals(variables('vAnalyzerStatus'), 'failed'))",
              "limit": {
                "count": 120,
                "timeout": "PT1H"
              },
              "type": "Until",
              "description": "Poll Content Understanding every 15 seconds until analysis succeeds or fails."
            },
            "Condition_Analysis_Failed": {
              "actions": {
                "Terminate_Failed": {
                  "type": "Terminate",
                  "inputs": {
                    "runStatus": "Failed",
                    "runError": {
                      "code": "AnalysisFailed",
                      "message": "Content Understanding analysis failed for @{variables('vBlobName')}"
                    }
                  },
                  "description": "Terminate workflow if Content Understanding analysis failed."
                }
              },
              "runAfter": {
                "Until_succeeded": [ "Succeeded" ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@variables('vAnalyzerStatus')",
                      "failed"
                    ]
                  }
                ]
              },
              "type": "If",
              "description": "Check if analysis failed."
            },
            "Parse_Call_Result_JSON": {
              "runAfter": {
                "Condition_Analysis_Failed": [ "Succeeded" ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Check_Status')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "status": { "type": "string" },
                    "result": {
                      "type": "object",
                      "properties": {
                        "analyzerId": { "type": "string" },
                        "apiVersion": { "type": "string" },
                        "createdAt": { "type": "string" },
                        "warnings": { "type": "array" },
                        "contents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "markdown": { "type": "string" },
                              "fields": {
                                "type": "object",
                                "properties": {
                                  "Summary": {
                                    "type": "object",
                                    "properties": {
                                      "type": { "type": "string" },
                                      "valueString": { "type": "string" }
                                    }
                                  }
                                }
                              },
                              "kind": { "type": "string" },
                              "startTimeMs": { "type": "integer" },
                              "endTimeMs": { "type": "integer" },
                              "width": { "type": "integer" },
                              "height": { "type": "integer" },
                              "KeyFrameTimesMs": {
                                "type": "array",
                                "items": { "type": "integer" }
                              },
                              "transcriptPhrases": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "speaker": { "type": "string" },
                                    "startTimeMs": { "type": "integer" },
                                    "endTimeMs": { "type": "integer" },
                                    "text": { "type": "string" },
                                    "confidence": { "type": "number" },
                                    "words": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "startTimeMs": { "type": "integer" },
                                          "endTimeMs": { "type": "integer" },
                                          "text": { "type": "string" }
                                        }
                                      }
                                    },
                                    "locale": { "type": "string" }
                                  }
                                }
                              },
                              "cameraShotTimesMs": {
                                "type": "array",
                                "items": { "type": "integer" }
                              },
                              "mimeType": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "videoHours": { "type": "number" },
                        "contextualizationTokens": { "type": "integer" },
                        "tokens": {
                          "type": "object",
                          "properties": {
                            "gpt-4.1-mini-input": { "type": "integer" },
                            "gpt-4.1-mini-output": { "type": "integer" }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "description": "Parse the final Content Understanding result with full schema."
            },
            "varTranscriptText": {
              "runAfter": {
                "Parse_Call_Result_JSON": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vTranscriptText",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "description": "Initialize variable to accumulate transcript text."
            },
            "varSummaryText": {
              "runAfter": {
                "varTranscriptText": [ "Succeeded" ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "vSummaryText",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "description": "Initialize variable to accumulate summary text."
            },
            "For_each_content": {
              "foreach": "@body('Parse_Call_Result_JSON')?['result']?['contents']",
              "actions": {
                "Append_Summary": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "vSummaryText",
                    "value": "@{if(equals(items('For_each_content')?['fields']?['Summary']?['valueString'], null), '', concat(items('For_each_content')?['fields']?['Summary']?['valueString'], ' '))}"
                  },
                  "description": "Append AI-generated summary for this video segment."
                },
                "Select_Phrases": {
                  "runAfter": {
                    "Append_Summary": [ "Succeeded" ]
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@if(equals(items('For_each_content')?['transcriptPhrases'], null), json('[]'), items('For_each_content')?['transcriptPhrases'])",
                    "select": "@item()?['text']"
                  },
                  "description": "Extract text from each transcript phrase."
                },
                "Append_Transcript": {
                  "runAfter": {
                    "Select_Phrases": [ "Succeeded" ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "vTranscriptText",
                    "value": "@{join(body('Select_Phrases'), ' ')} "
                  },
                  "description": "Join transcript phrases and append to full transcript."
                }
              },
              "runAfter": {
                "varSummaryText": [ "Succeeded" ]
              },
              "type": "Foreach",
              "description": "Iterate through each content segment to extract transcripts and summaries."
            },
            "Condition_Has_Content": {
              "actions": {
                "Compose_Search_Content": {
                  "type": "Compose",
                  "inputs": "@take(concat(trim(variables('vSummaryText')), ' ', trim(variables('vTranscriptText'))), 8000)",
                  "description": "Combine summary and transcript, limited to 8000 characters."
                },
                "Generate_Embedding": {
                  "runAfter": {
                    "Compose_Search_Content": [ "Succeeded" ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "[concat('https://', variables('openAiName'), '.openai.azure.com/openai/deployments/', variables('embeddingDeploymentName'), '/embeddings?api-version=2024-06-01')]",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "input": "@{outputs('Compose_Search_Content')}"
                    },
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://cognitiveservices.azure.com"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 3,
                      "interval": "PT5S"
                    }
                  },
                  "description": "Generate vector embedding using Azure OpenAI text-embedding-3-large.",
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Push_To_AI_Search": {
                  "runAfter": {
                    "Generate_Embedding": [ "Succeeded" ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "[concat('https://', variables('searchServiceName'), '.search.windows.net/indexes/', variables('searchIndexName'), '/docs/index?api-version=2024-07-01')]",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json",
                      "api-key": "[listAdminKeys(resourceId('Microsoft.Search/searchServices', variables('searchServiceName')), '2024-03-01-preview').primaryKey]"
                    },
                    "body": {
                      "value": [
                        {
                          "@@search.action": "mergeOrUpload",
                          "id": "@{variables('vDocumentId')}",
                          "title": "@{variables('vBlobName')}",
                          "sourceUrl": "@{variables('vBlobUrl')}",
                          "type": "training-video",
                          "summary": "@{trim(variables('vSummaryText'))}",
                          "content": "@{trim(variables('vTranscriptText'))}",
                          "createdAt": "@{utcNow()}",
                          "contentVector": "@body('Generate_Embedding')?['data'][0]['embedding']"
                        }
                      ]
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 3,
                      "interval": "PT5S"
                    }
                  },
                  "description": "Push document with vector embedding to AI Search.",
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "For_each_content": [ "Succeeded" ]
              },
              "else": {
                "actions": {
                  "Terminate_No_Content": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "NoContent",
                        "message": "No transcript content extracted from @{variables('vBlobName')}"
                      }
                    },
                    "description": "Terminate if no transcript content was extracted."
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(trim(variables('vTranscriptText')))",
                      0
                    ]
                  }
                ]
              },
              "type": "If",
              "description": "Check if transcript content was extracted before generating embeddings."
            }
          },
          "outputs": {},
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureeventgrid-1": {
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureeventgrid')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('eventGridConnectionName'))]",
                "connectionName": "[variables('eventGridConnectionName')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    },
    {
      "type": "Microsoft.Web/connections/accessPolicies",
      "apiVersion": "2016-06-01",
      "name": "[concat(variables('eventGridConnectionName'), '/', variables('logicAppName'))]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('eventGridConnectionName'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ],
      "properties": {
        "principal": {
          "type": "ActiveDirectory",
          "identity": {
            "tenantId": "[subscription().tenantId]",
            "objectId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
          }
        }
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[concat(variables('storageAccountName'), '/Microsoft.Authorization/', guid(resourceGroup().id, variables('storageBlobDataReaderRoleId'), variables('logicAppName')))]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('storageBlobDataReaderRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/providers/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[concat(variables('storageAccountName'), '/Microsoft.Authorization/', guid(resourceGroup().id, variables('eventGridContributorRoleId'), variables('logicAppName')))]",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('eventGridContributorRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts/providers/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[concat(variables('aiServicesName'), '/Microsoft.Authorization/', guid(resourceGroup().id, variables('cognitiveServicesUserRoleId'), variables('logicAppName')))]",
      "dependsOn": [
        "[resourceId('Microsoft.CognitiveServices/accounts', variables('aiServicesName'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesUserRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    },
    {
      "type": "Microsoft.CognitiveServices/accounts/providers/roleAssignments",
      "apiVersion": "2022-04-01",
      "name": "[concat(variables('openAiName'), '/Microsoft.Authorization/', guid(resourceGroup().id, variables('cognitiveServicesOpenAIUserRoleId'), variables('logicAppName')))]",
      "dependsOn": [
        "[resourceId('Microsoft.CognitiveServices/accounts', variables('openAiName'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('logicAppName'))]"
      ],
      "properties": {
        "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('cognitiveServicesOpenAIUserRoleId'))]",
        "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]",
        "principalType": "ServicePrincipal"
      }
    }
  ],
  "outputs": {
    "storageAccountName": {
      "type": "string",
      "value": "[variables('storageAccountName')]"
    },
    "storageContainerName": {
      "type": "string",
      "value": "[variables('containerName')]"
    },
    "aiServicesName": {
      "type": "string",
      "value": "[variables('aiServicesName')]"
    },
    "aiServicesEndpoint": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', variables('aiServicesName'))).endpoint]"
    },
    "openAiName": {
      "type": "string",
      "value": "[variables('openAiName')]"
    },
    "openAiEndpoint": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.CognitiveServices/accounts', variables('openAiName'))).endpoint]"
    },
    "searchServiceName": {
      "type": "string",
      "value": "[variables('searchServiceName')]"
    },
    "searchIndexName": {
      "type": "string",
      "value": "[variables('searchIndexName')]"
    },
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicAppName')]"
    },
    "logicAppManagedIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('logicAppName')), '2019-05-01', 'Full').identity.principalId]"
    }
  }
}